#wrapper {
  background-image: linear-gradient(180.96deg, #39289f 0.82%, #422f9c 129.1%);
  backdrop-filter: blur(7px);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.reset-button {
  border: none;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.gamers-div {
  width: 700px;
  max-width: 1400px;
  margin: auto;
  color: #fff;
  backdrop-filter: blur(7px);
  background-color: #39289f;
  padding: 50px;
  border-radius: 20px;
  /*  */
  /* box-shadow: 10px 8px 5px #fff; */

  /* linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), */
}

.gamer-first-div {
  width: 900px;
  border: 2px solid #fff;
  margin: auto;
  padding: 100px;
  border-radius: 20px;
}

.form {
  text-align: center;
}

button i {
  color: #39289f;
}

#gamer {
  height: 753px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.form input[type="number"] {
  width: 300px;
  margin: auto;
  text-align: center;
}

.lastResult {
  color: white;
  padding: 3px;
}

.forminput {
  padding: 7px;
  margin-top: 10px;
  border: 2px solid grey;
  border-radius: 10px;
}

.resetButton {
  background-color: black;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 10px;
  color: #fff;
}

/* index.html */
.home-first-div {
  display: flex;
  width: 1200px;
  margin: auto;
  align-items: center;
  height: 600px;
  justify-content: space-around;
}

.home-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  animation: shake 6.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}


@keyframes shake {
  0% {
    transform: translate(1px, 10px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(30px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(30px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(10px, 10px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 10px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 10px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}



.game-intro {
  color: #fff;
}

.intro-div {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1280px) {
  .home-first-div {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    height: 700px;
    justify-content: space-around;
  }

  .home-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }

  ody {
    height: 600px;
    background-color: black;
  }

  .intro-div {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #gamer {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }

  .gamer-first-div {
    width: 950px;
    border: 2px solid #fff;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
  }

  .gamers-div {
    width: 900px;
    max-width: 1000px;
    margin: auto;
    color: #fff;
    backdrop-filter: blur(7px);
    background-color: #39289f;
    padding: 10px;
    border-radius: 20px;
  }

  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .h1tag {
    font-size: 4rem;
    margin-top: 30px;
  }

  .ptag {
    font-size: 2rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .form input[type="number"] {
    width: 500px;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 1025px) {
  .home-first-div {
    display: flex;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    align-items: center;
    height: 600px;
    justify-content: space-around;
  }

  .home-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }

  body {
    height: 600px;
    background-color: black;
  }

  .intro-div {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #gamer {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }

  .gamer-first-div {
    width: 950px;
    border: 2px solid #fff;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
  }

  .gamers-div {
    width: 900px;
    max-width: 1000px;
    margin: auto;
    color: #fff;
    backdrop-filter: blur(7px);
    background-color: #39289f;
    padding: 10px;
    border-radius: 20px;
  }

  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .h1tag {
    font-size: 4rem;
    margin-top: 30px;
  }

  .ptag {
    font-size: 2rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .form input[type="number"] {
    width: 500px;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 769px) {
  body {
    background-color: black;
  }
  #gamer {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }

  .gamer-first-div {
    width: 400px;
    border: 2px solid #fff;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
  }

  .gamers-div {
    width: 350px;
    max-width: 700px;
    margin: auto;
    color: #fff;
    backdrop-filter: blur(7px);
    background-color: #39289f;
    padding: 10px;
    border-radius: 20px;
  }

  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .h1tag {
    font-size: 2rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-first-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: auto;
    align-items: center;
    height: 600px;
    justify-content: space-around;
    position: relative;
  }

  .home-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-top: 40px;
  }

  .home-img1 {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 40px;
  }

  .home-img2 {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 20px;
  }

  .intro-div {
    position: absolute;
    bottom: 0;
    padding-bottom: 120px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .game-intro{
    text-align: center;
   
  }

  .form input[type="number"] {
    width: 220px;
    margin: auto;
    text-align: center;
  }

  .ptag {
    font-size: 18px;
  }
}
